/* 
    Document   : template_styles
    Created on : 25.03.2013, 10:35:56
    Author     : Stanislav WEB
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

